.navbar-pink {
  background: transparent;
}
.navbar-white {
  background: black;
}
img {
  display: block;
  margin: auto;
  padding-top: none;
  border-radius: 30%;
  border: none;
  height: none;
}
h4 {
  text-align: center;
  font-size: 30px;
  color: #f5f2fe;
  background-color: green;
  width: 40%;
}
primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: rgb(228, 91, 155);
  box-shadow: var(--box-shadow);
  color: white;
  background-color: palevioletred;
}
:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  background: whitesmoke;
}
.yes {
  font-size: 40px;
  background-color: black;
  padding-bottom: 10px;
}

h2 {
  margin: auto;
  color: #ebebf1;
  background-color: rgb(17, 179, 254);
  font-size: 48px;
  width: 60%;
  border-radius: 80%;
  text-align: center;
}

h1 {
  color: rgb(8, 0, 6);
  opacity: 2.5;
  font-size: 96px;
}

h3 {
  font-size: 40px;
  color: rgb(17, 179, 254);
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: black;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: rgb(17, 179, 254);
  box-shadow: var(--box-shadow);
  color: white;
}
.primary-link:hover {
  color: rgb(228, 91, 155);
  background-color: #ebebf1;
  font-weight: bold;
}
.text-dark {
  color: rgb(17, 179, 254);
  font-weight: bolder;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(17, 179, 254);
  border: 1px solid rgb(17, 179, 254);
}
.secondary-link .homepage-link {
  color: rgb(17, 179, 254);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}
.secondary-link:hover {
  color: rgb(228, 91, 155);
  background-color: rgb(17, 179, 254);
  font-weight: bold;
}
.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 28px;
  text-decoration: none;
  font-weight: bolder;
  padding-top: 40px;
}

.email-link:hover {
  text-decoration: underline;
  color: rgb(17, 179, 254);
}
@media (max-width: 500px) {
  body {
    background: #f2f2f5;
  }
  p {
    color: #ebebf1;
  }
  h1,
  h2,
  h3 {
    color: rgb(8, 8, 8);
  }
}
